@font-face 
{
  font-family: bahnschrift;
  src: url(font/bahnschrift.ttf);
  /* Check Signika font on Google font */
}

@font-face 
{
  font-family: futura;
  src: url(font/FuturaPTMedium.otf);
  /* Check Signika font on Google font */
}

nav
{
	justify-content: space-evenly;
	text-align: center;
	transform-style: preserve-3d;
	width: 100%;
	/* border: 1px solid #4CAF50; */
}

body
{
	overflow-x: clip;
}

.project
{
	display: flex;
 	/* justify-content: flex-end; */
  	align-items: flex-end;
	/* padding-top: 80vh;
	padding-bottom: 80vh; */
	/* position: relative;  */
	/* left: 0;
	bottom: 0; */
	/* text-align: bottom; */
	width: 50vw;
	height: 200vh;
	font-family: bahnschrift;
	color: whitesmoke;
	overflow: clip;
	z-index: -1;
	/* border: 1px solid #4CAF50; */
}

.desc
{
	font-family: bahnschrift;
	color: whitesmoke;
}

.info
{
	font-family: bahnschrift;
	color: black;
}

.header
{
	position: fixed; 
	top: 0; 
	right: 0; 
	width: 100%;
	/* border: 1px solid #4CAF50; */
}

.content
{
	display: grid; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	/* height: 100vh;  */
	z-index: -3;
	overflow-x: clip;
}

.overlay
{
	position: absolute;
	background-color: brown;
	top: 0px;
  	right: 0px;
  	width: 100%;
	height: 100vh;
	opacity: 0;
	pointer-events: none;
  	transition: opacity 0.5s ease;
	z-index: -1;
}

.veil
{
	position: fixed;
	background-color: black;
  	width: 100vw;
	height: 100vh;
	opacity: .7;
	/* pointer-events: none; */
  	transition: opacity 0.5s ease;
	z-index: -2;
}

.name
{
	display: grid; 
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: -1;
}

.thumbnail
{
	position: sticky;
	top: 30%;
	left: 15%;
	width: 70%;
	opacity: 0;
	/* top: 50%;
	left: 50%; */
}

.v_thumbnail
{
	position: sticky; 
	top: 20%;
	left: 15%;
	width: 70%;
	opacity: 0;
	/* z-index: 1; */
	/* top: 50%;
	left: 50%; */
}

.hero
{
	 height: 90%; 
	 position: absolute; 
	 z-index: 1;
}

.conundroy
{
	font-family: bahnschrift;
	color: whitesmoke;
}

.gradient
{
	top: 0;
	left: 0;
	z-index: -3;
	position: fixed;
	animation: animateBg 20s ease infinite;
	-webkit-animation: animateBg 20s ease infinite;
    -moz-animation: animateBg 20s ease infinite;
  	background-image: linear-gradient(7.5deg,whitesmoke,whitesmoke, grey, #454545, #101010, whitesmoke, whitesmoke);
  	background-size: 100% 1700%;
  	height: 100vh;
  	width: 100vw;
}
@keyframes animateBg {
  	0% { background-position: 0% 100%; }
  	100% { background-position: 0% 0%; }
}
@-webkit-keyframes animateBg {
	0% { background-position: 0% 0%; }
	100% { background-position: 0% 100%; }
}
@-moz-keyframes animateBg {
    0% { background-position: 0% 0%; }
  	100% { background-position: 0% 100%; }
}

.dropdown {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#banner
{
	position: absolute;
	background-color: brown;
	left: -20vw;
	width: 200%;
	height: 600%;
	transform-origin: bottom center;
	transform: translate(0, -80%);
	z-index: -1;
}

#logo
{
	display: flex;
	justify-content: flex-end;
	/*border: 1px solid #4CAF50;*/
}

a
{
	color:black; 
	transition: .2s; 
	text-decoration: none; 
	font-family: bahnschrift;
}

a:active {color:lightgrey;}
a:hover {color:whitesmoke;} 
nav:hover ~ .overlay
{
	opacity: 1;
	/*z-index: -1;*/
}
.project:hover ~ .veil
{
	opacity: .9;
}

@media screen and (orientation: portrait)
{
	nav
	{
		display: flex;
		font-size: 10vh;
		margin-top: -5vh;
		transform: rotateX(45deg) rotateZ(15deg);
	}

	img
	{
		margin: 2.5vh;
		width: 10%;
	}

	.project
	{
		font-size: 5vh;
		margin-left: 5vh;
	}

	.desc
	{
		width: 60vw;
		font-size: 3vh;
		margin-left: 2.5vh;
	}

	.info
	{
		width: 80vw;
		height: 100vh;
		font-size: 15vw;
		margin: 5vh;
		margin-top: 10vh;
		line-height: 125%;
	}

	.shape
	{
		/* background-color: red; */
		height: 20vh;
		width: 100vh;
		float: right;
		shape-outside: polygon(0vh 10vh, 100vh 30vh, 100vh 0, 0 0);
	}

	.thumbnail {opacity: 0; position: absolute; z-index: -4;}
	.v_thumbnail {opacity: 1;}

	.hero
	{
		width: 15%; 
	}

	.conundroy
	{
		font-size: 10vh;
		margin-top: 22vh;
		transform: rotateX(45deg) rotateZ(15deg);
	}

	.navbar
	{
		display: flex; 
		flex-direction: column;
		margin-right: 5vw;
		/* margin-bottom: 4vh; */
		width: 100vw;
		height: 10vh;
		scroll-behavior: smooth;
		/* background-color: white; */
		overflow-y: auto;
		overflow-x: clip;
		justify-content: space-between;
		text-align: right;
		pointer-events: none;
		visibility: hidden;
	}

	#logo
	{
		pointer-events: none;
		visibility: hidden;
	}

	.dropdown
	{
		pointer-events: all;
		visibility: visible;
		z-index: 1;
	}

/*	*, *::before, *::after
	{
		box-sizing: border-box;
	}*/

	.hamburger
	{
		position: relative;
		width: 15vw;
		height: 15vw;
		margin-top: 5vh;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		transform: rotateX(45deg) rotateZ(15deg);
	}

	.hamburger:before
	{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
  
	.hamburger-input
	{
		position: absolute;
		opacity: 0;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		cursor: pointer;
	}

	.hamburger-line
	{
		width: 100%;
		background: black;
		height: 2.5vw;
		display: block;

		position: relative;
	}

	.hamburger-line .first
	{
		width: 50%;
	}

	.hamburger-line .third
	{
		width: 50%;
	}
    
	.hamburger-line .third
	{
		margin-left: 50%;
		transform-origin: left;
	}

	.menu-button-wrapper
	{
		position: relative;
		display: inline-block;
	}
	
	.menu-button-wrapper .item-list
	{
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 10vh;
		transform: translateX(-50%);
		transform-origin: center;
		transition: opacity 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
		background-color: brown;
		width: 100vw;
		height: 90vh;
		left: 50%;
		justify-content: space-evenly;
		text-align: center;
		font-size: 10vh;
		opacity: 0;
		pointer-events: none;
		z-index: -1;
    
	/*		div {
		  padding: 10px 30px;
		  cursor: pointer;
		}*/
	}

  
	.menu-button
	{
		position: absolute;
		width: 20vw;
		height: 20vw;
		top: 5vh;
/*		left: -7vw;*/
		z-index: 2;
		opacity: 0;
		cursor: pointer;
/*		transform: rotateX(45deg) rotateZ(15deg);*/
	}
	

	.menu-button:checked ~ .item-list
	{
		transform: translateX(-50%);
		opacity: 1;
		pointer-events: auto;
	}  
  
	.menu-button:checked ~ .icon-wrapper .hamburger-line.second
	{
		transform: rotate(-45deg);
	}

	.menu-button:checked ~ .icon-wrapper .hamburger-line.first
	{
		transform: translate(0vw, 6.35vw) rotate(-135deg);
	}

	.menu-button:checked ~ .icon-wrapper .hamburger-line.third
	{
		opacity: 0;
	}
  
	.menu-button:checked ~ .icon-wrapper .hamburger:before {
		transform: rotate(45deg);
	}

}

@media screen and (orientation: landscape)
{
	nav
	{
		display: flex;
		font-size: 5vw;
		margin-top: -6vw;
		transform: rotateX(45deg) rotateZ(10deg);
	}

	img
	{
		margin: 2.5vw;
		width: 5%;
	}

	.project
	{
		font-size: 5vw;
		margin-left: 5vw;
	}

	.desc
	{
		width: 50vw;
		font-size: 2vw;
		margin-left: 2.5vw;
	}

	.info
	{
		width: 90vw;
		font-size: 10vw;
		margin: 5vw;
		margin-top: 10vw;
		/* top: 23%; */
		/* bottom: 5%; */
		line-height: 115%;
	}

	.shape
	{
		/* background-color: red; */
		height: 20vw;
		width: 100vw;
		float: right;
		shape-outside: polygon(0vw 2vw, 100vw 20vw, 100vw 0, 0 0);
	}

	.thumbnail {opacity: 1;}
	.v_thumbnail {opacity: 0; position: absolute; z-index: -4;}

	.hero
	{
		width: 9%;
	}

	.conundroy
	{
		font-size: 12.5vw;
		margin-top: 22vw;
		transform: rotateX(45deg) rotateZ(10deg);
	}

	.navbar
	{
		display: flex; 
		justify-content: space-evenly;
		text-align: center;
		transform-style: preserve-3d;
		width: 100%;
	}

	.dropdown
	{
		pointer-events: none;
		visibility: hidden;
	}
}