@font-face 
{
  font-family: bahnschrift;
  src: url(font/bahnschrift.ttf);
  /* Check Signika font on Google font */
}

#bg
{
	position: absolute;
	background-color: brown;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
  transition: opacity 0.5s ease;
	z-index: -2;
}

#overlay
{
	position: absolute;
	background-color: brown;
	left: -20vw;
	width: 200%;
	height: 600%;
	transform-origin: bottom center;
	transform: translate(0, -80%);
	z-index: -1;
}

#header
{
	display: flex;
	justify-content: flex-end;
	/*border: 1px solid #4CAF50;*/
}

#icon
{
	z-index: 1;
}

body
{
	overflow: hidden;
}

a
{
	color:black; 
	transition: .2s; 
	text-decoration: none; 
	font-family: bahnschrift;
}

a:active {color:lightgrey;}
a:hover {color:whitesmoke;} 
nav:hover ~ #bg
{
	opacity: 1;
	/*z-index: -1;*/
}

nav
{
	justify-content: space-evenly;
	text-align: center;
	transform-style: preserve-3d;
	/*border: 1px solid #4CAF50;*/
}

@media screen and (orientation: portrait)
{
	nav
	{
		display: flex;
		font-size: 5vh;
		margin-top: -5vh;
		transform: rotateX(45deg) rotateZ(15deg);
	}

	img
	{
		margin: 2.5vh;
		width: 10%;
	}
}

@media screen and (orientation: landscape)
{
	nav
	{
		display: flex;
		font-size: 5vw;
		margin-top: -6vw;
		transform: rotateX(45deg) rotateZ(10deg);
	}

	img
	{
		margin: 2.5vw;
		width: 5%;
	}
}