body {
	background-color: #181818;
	color: white;
	margin: 0;
	font-family: spacegrotesk;
	overflow: hidden;
}

@font-face 
{
	font-family: spacegrotesk;
	src: url(font/SpaceGroteskRegular.ttf);
  /* Check Signika font on Google font */
}
@font-face 
{
	font-family: spacegrotesk;
	src: url(font/SpaceGroteskMedium.ttf);
	font-weight: bold;
}

img {
	display: block;
	width: 100%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

a {text-decoration: none; color: grey}
/*a:active {color:#151a24;}*/
a:hover {color:whitesmoke;} 
/*a:focus{color:#151a24;}*/
/*a:visited{color: white;}*/

@media screen and (orientation: landscape)
{
	a {
		font-size: 3vw;
	}
	.side-panel {
		height: 90vh;
		width: 19vw;
	}
	.menu {
/*		border-radius: 1vw 1vw 1vw 1vw;
		border-width: .25vw .5vw .5vw .25vw;
		box-shadow: 0 12px 16px 0 #2b2b2b, 0 17px 50px 0 rgba(0,0,0,0.19);*/
		background-color: rgba(0,0,0,0);
		height: 30%;
		width: 75%;
	}
	.index {
		padding: 0.5vw;
	}
	.border-r-top {
		border-radius: 0 5vw 5vw 0;
	}
	.border-r-bottom {
		border-radius: 0 5vw 0 0;
	}
	.main {
		width: 78%;
/*		padding-left: 5vw;
		padding-right: 5vw;*/
		font-size: 3vw;
	}
	.border-index {border-radius: 5vw 5vw 5vw 5vw}
	.border-about {border-radius: 0 5vw 0 0}
	.desktop {visibility: visible}
	.mobile {visibility: hidden; position: absolute;}
	.title {font-size: 3vw}
	.name {font-size: 5vw}
}

@media screen and (orientation: portrait)
{
	a {
		font-size: 4.25vw;
	}

	.side-panel {
		top: 0;
		right: 0;
		height: 90vw;
		width: 19vw;
	}
	.menu {
		border-radius: 0;
		border-width: 0;
		background-color: rgba(0, 0, 0, 0);
		height: 15rem;
		width: 70%;
	}
	.index {
		padding: 0.5vh;
	}
	.border-r-top {
		border-radius: 0 5vh 5vh 0;
	}
	.border-r-bottom {
		border-radius: 0 5vh 0 0;
	}
	.main {
		width: 100%;
/*		padding-left: 5vh;
		padding-right: 5vh;*/
		font-size: 3vh;
	}
	.border-index {border-radius: 5vh 5vh 5vh 5vh;}
	.border-about {border-radius: 0 5vh 0 0;}
	.desktop {visibility: hidden; position: absolute;}
	.mobile {visibility: visible}
	.title {font-size: 3.5vh}
	.name {font-size: 5.5vh}
}

.side-panel {
	position: absolute;
/*	background-color: white;*/
}
.menu {
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
/*	background-color: #151a24;
	border-style: solid;
	border-color: #2b2b2b; */
}

.index {
	position: fixed;
	height: 90vh;
	width: 80vw;
/*	right: 0;*/
/*	left: 10%;*/
	z-index: -1;
	background-color: #212121;
}
.anchor-top {
	top: 0;
}
.anchor-bottom {
	bottom: 0;
}
.main {
	position: absolute;
/*	background-color: #151a24;*/
/*	text-align: center;*/
	z-index: -1;
	top: 0;right: 0;
	height: 100%;
	word-wrap: break-word;
	overflow: auto;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	display:flex;flex-direction: column;justify-content: space-between;
	scrollbar-width: none;
}
.main-wrapper {
	position: absolute;
	z-index: -1;
	top: 0;right: 0;
	width: 100%;height: 100%;
	word-wrap: break-word;
	overflow: auto;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	display:flex;flex-direction: column;justify-content: space-between;
	scrollbar-width: none;
}
.main-padding {
	padding: 5%;
}
.button {
	margin-top: auto;
	margin-bottom: auto;
	transition: .2s ease-in;
/*	text-shadow: .5vw .5vw 1vw black, 0 0 1vw grey; */
}

.image {position: relative; width: 100%; font-size: 0;}

.gradient{
	position: absolute;
	top: 0;bottom: 0;left: 0;right: 0;
	width: 100%;height:100%;
	background-image: linear-gradient(rgba(0,0,0,.6), rgba(1,1,1,1));
	opacity: 1;
	transition: all 0.2s ease-in
}
.gradient:hover{opacity:0.2}

.lightbox {
	z-index: 999;
	display: none;
	position: fixed;
	top: 0;left: 0;right: 0;bottom: 0;
	background: rgba(0, 0, 0, 0.95);
}
.lightbox:target {display: block;}
.lightbox span {
	display: block;
	width: 100%;height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.credit {font-size: 1rem}
::-webkit-scrollbar {width:0}

button {
	color: white;
	padding: 1vh;
	padding-left: 2vw;
	padding-right: 2vw;
	border-style: solid;
	border-color: #2b2b2b;
	border-width: .25vw .4vw .4vw .25vw;
	background-color: #212121;
/*
	font-size: 25px;
*/
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
button:hover {
	border-color: #212121;
	background-color: #2b2b2b;
}
button:active {
	background-color: #212121;
	border-color: #212121;
	transform: translateY(2px) translateX(2px) ;
}
